@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* ให้แน่ใจว่า Header อยู่ด้านบนสุดของเนื้อหา */
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}